.main {
    overflow: hidden;
    display: flex;
    height: calc(100vh - 4.5rem);
}

.container {
    flex: 1;
    flex-grow: 1;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
        padding: 0 2px;
        width: 6px;
        background: palette(surface);
    }
    &::-webkit-scrollbar-track {
        width: 4px;
        border-right: 2px solid palette(surface);
        border-radius: 4px;
        background: palette(secondary, 0.12);
    }
    &::-webkit-scrollbar-thumb {
        width: 4px;
        border-right: 2px solid palette(surface);
        border-radius: 4px;
        background: palette(secondary, 0.38);
    }
    &::-webkit-scrollbar-thumb:hover {
        background: palette(secondary);
    }

    article {
        flex-grow: 1;
    }

    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 67.5rem) {
    .container {
        article {
            padding: 0 2.5rem;
        }
    }
}
