@import '@milkdown/plugin-table/lib/style';

.strike-through {
    text-decoration-color: palette(secondary);
}

.task-list-item {
    list-style-type: none;
    position: relative;
    & > div {
        overflow: hidden;
    }
    label {
        position: absolute;
        top: 0;
        left: -2rem;
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        margin: 0.5rem 0;
        input {
            visibility: hidden;
        }
    }
    label:before {
        @mixin icon Outlined;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: var(--radius);
    }
    label:hover:before {
        background: palette(background);
    }
    &[data-checked='true'] {
        label:before {
            content: 'check_box';
            color: palette(primary);
        }
    }
    &[data-checked='false'] {
        label:before {
            content: 'check_box_outline_blank';
            color: palette(solid, 0.87);
        }
    }
    .paragraph {
        margin: 0.5rem 0;
    }
}
