node_modules
.DS_Store
.idea
.vscode

lib
dist
dist-ssr
coverage
test-results
.pnpm-store
.npmrc
tsconfig.tsbuildinfo
e2e/cypress/videos
e2e/cypress/screenshots
e2e/cypress/downloads

sitemap.xml

.eslintcache

.env
*.local
*.cache
*error.log
*debug.log

storybook-static
