node_modules
.DS_Store
.idea

lib
dist
dist-ssr
docs
coverage
test-results
.pnpm-store
.npmrc
tsconfig.tsbuildinfo
e2e/cypress/videos
e2e/cypress/screenshots
e2e/cypress/downloads

sitemap.xml

.env
*.local
*.cache
*error.log
*debug.log
