#docsearch .DocSearch:hover {
  background-color: transparent;
  box-shadow: none;
}

#docsearch .DocSearch-Button-Placeholder {
  display: none;
}
#docsearch .DocSearch-Button-Keys {
  display: none;
}
#docsearch .DocSearch-Button {
  margin: 0;
}

.DocSearch-Button .DocSearch-Search-Icon {
  @apply text-gray-600 hover:text-gray-900 dark:text-gray-200 dark:hover:text-gray-50;
}

.DocSearch-Modal input {
  background-color: unset;
}
.DocSearch-Modal input:focus {
  outline: none;
  box-shadow: none;
}
.DocSearch-MagnifierLabel,
.DocSearch-Reset,
.DocSearch-Hit-source,
.DocSearch-Prefill,
.DocSearch-Cancel,
.DocSearch-Hits mark {
  @apply text-nord10;
}
.DocSearch-Logo svg,
.DocSearch-Logo svg .cls-1,
.DocSearch-Logo svg .cls-2 {
  @apply !text-nord8 !fill-nord8;
}
.DocSearch-Form {
  @apply outline outline-nord9 outline-2 shadow-none mb-1;
}
.DocSearch-Hit[aria-selected=true] a {
  @apply bg-nord9;
}
