@tailwind base;
@tailwind components;
@tailwind utilities;

li::after {
  all: unset !important;
}

.ProseMirror-selectednode {
  outline: none;
  @apply ring-2 ring-offset-1 ring-nord9;
}

.prose blockquote {
  @apply not-italic;
}

.prose :where(blockquote p:first-of-type):not(:where([class~="not-prose"] *))::before {
  content: ''
}

body, #app {
  min-height: 100vh;
}

#docsearch .DocSearch:hover {
  background-color: transparent;
  box-shadow: none;
}

#docsearch .DocSearch-Button-Placeholder {
  display: none;
}
#docsearch .DocSearch-Button-Keys {
  display: none;
}
#docsearch .DocSearch-Button {
  margin: 0;
}

.DocSearch-Modal input {
  background-color: unset;
}
.DocSearch-Modal input:focus {
  outline: none;
  box-shadow: none;
}
