.editor {
    margin: 0;
    @mixin query 72rem {
        margin: 20px 0;
    }
}

.pl-10px {
    padding-left: 10px;
}

.outline {
    position: fixed;
    width: 255px;
    flex-shrink: 0;
    display: none;
    @mixin query 72rem {
        display: block;
    }
}

.doc-renderer {
    width: 100%;
    margin: 0;
    position: relative;
    padding: 0;

    display: block;

    @mixin query 72rem {
        display: flex;
        margin: 20px auto;
        max-width: 72rem;
        & > div:first-child {
            width: calc(100% - 265px);
        }
    }
}

.outline-container {
    border-color: rgba(var(--line), 1);
    border-style: solid;
    border-width: 0px;
    border-left-width: 1px;
}

.outline-item {
    cursor: pointer;
    background: rgba(var(--secondary), 0);

    a {
        color: rgba(var(--neutral), 0.6);
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 8px 0 8px 16px;
        line-height: 20px;
        font-size: 0.875rem;
        display: block;
        &.active {
            color: rgba(Var(--primary), 1);
        }
    }

    &:hover {
        background: rgba(var(--secondary), 0.3);
        a {
            color: rgba(Var(--primary), 1);
        }
    }
}
