.tooltip {
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    position: absolute;
    transform: translateX(-50%);
    margin-bottom: 8px;
    background: var(--tooltip_bg-color);
    border-radius: 4px;
    color: var(--tooltip_color);
    padding: 4px 8px;
    &:before {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        left: 50%;
        margin-left: -6px;
        bottom: -6px;
        border: 6px solid transparent;
        border-bottom-width: 0;
        border-top-color: var(--tooltip_bg-color);
    }
    .icon {
        width: 1.8rem;
        text-align: center;
        background: var(--tooltip_bg-color);
        transition: all 0.2s ease-in;
        &.active {
            color: var(--tooltip_color-active);
            background: var(--tooltip_bg-color-active);
        }
        &:hover {
            color: var(--tooltip_color-hover);
            background: var(--tooltip_bg-color-hover);
        }
    }
    .group {
        display: inline-flex;
        justify-content: center;
        outline: none;
        background: var(--tooltip_group-bg-color);
        .label {
            color: var(--tooltip_input-color-hover);
            background: var(--tooltip_input-bg-color);
            padding: 0 4px;
            cursor: default;
            display: flex;
            font-size: 0.875rem;
            align-items: center;
            justify-content: center;
            font-weight: 600;
        }
        .input {
            font-family: var(--tooltip_input-font);
            text-align: left;
            background: var(--tooltip_input-bg-color);
            width: 12rem;
            padding: 0 4px;
            border: 0;
            &:hover {
                color: var(--tooltip_input-color-hover);
            }
            &:focus {
                outline: none;
            }
        }
        .material-icons {
            color: var(--tooltip_group-icon-color);
            background: var(--tooltip_group-icon-bg-color);
            &:hover {
                color: var(--tooltip_group-icon-color-hover);
            }
        }
    }
    &.hide,
    .hide {
        display: none;
    }
}
