.tooltip {
    display: flex;
    cursor: pointer;
    justify-content: space-evenly;
    position: absolute;
    transform: translateX(-50%);
    margin-bottom: 8px;
    background: var(--nord0);
    border-radius: 4px;
    color: var(--nord5);
    padding: 4px 8px;
    &:before {
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        left: 50%;
        margin-left: -6px;
        bottom: -6px;
        border: 6px solid transparent;
        border-bottom-width: 0;
        border-top-color: var(--nord0);
    }
    .icon {
        width: 1.8rem;
        text-align: center;
        background: var(--nord0);
        transition: all 0.2s ease-in;
        &.active {
            color: var(--nord0);
            background: var(--nord4);
        }
        &:hover {
            color: var(--nord5);
            background: var(--nord10);
        }
    }
    .group {
        display: inline-flex;
        justify-content: center;
        outline: none;
        background: var(--nord6);
        .input {
            font-family: var(--font);
            text-align: left;
            background: var(--nord6);
            width: 12rem;
            padding: 0 4px;
            border: 0;
            &:hover {
                color: var(--nord0);
            }
            &:focus {
                outline: none;
            }
        }
        .material-icons {
            color: var(--nord10);
            background: var(--nord6);
            &:hover {
                color: var(--nord14);
            }
        }
    }
    .hide {
        display: none;
    }
    &.hide {
        display: none;
    }
}
