.tooltip {
    display: inline-flex;
    cursor: pointer;
    justify-content: space-evenly;
    position: absolute;
    border-radius: var(--radius);

    border: 1px solid palette(line);
    box-shadow: 0px 1px 1px palette(shadow, 0.14), 0px 2px 1px palette(shadow, 0.12), 0px 1px 3px palette(shadow, 0.2);

    overflow: hidden;
    background: palette(surface);

    .icon {
        position: relative;
        color: palette(solid, 0.87);

        width: 3rem;
        line-height: 3rem;
        text-align: center;
        transition: all 0.4s ease-in-out;
        &:hover {
            background-color: palette(secondary, 0.12);
        }
        &.active {
            color: palette(primary);
        }
        &:not(:last-child)::after {
            content: '';
            position: absolute;
            right: 0px;
            top: 0;
            width: 1px;
            bottom: 0;
            background: palette(line);
        }
    }
    &.hide,
    .hide {
        display: none;
    }
}

.tooltip-input {
    border: 1px solid palette(line);
    box-shadow: 0px 1px 1px palette(shadow, 0.14), 0px 2px 1px palette(shadow, 0.12), 0px 1px 3px palette(shadow, 0.2);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: palette(surface);
    border-radius: var(--radius);
    font-size: 1rem;

    height: 3.5rem;
    box-sizing: border-box;
    width: 20.5rem;
    padding: 0 1rem;
    gap: 1rem;

    input,
    button {
        all: unset;
    }

    input {
        flex-grow: 1;
    }

    button {
        cursor: pointer;
        height: 2.25rem;
        color: palette(primary);
        font-size: 0.875rem;
        padding: 0 0.5rem;
        font-weight: 500;
        &:hover {
            background-color: palette(secondary, 0.12);
        }
    }

    &.hide {
        display: none;
    }
}
