.ͼb {
    color: palette(secondary) !important;
    transition: color 0.4s ease-in-out;
}

.ͼ2 .cm-activeLine {
    background-color: rgba(var(--background), 1);
}

.cm-editor {
    & * {
        font-family: var(--code) !important;
        font-size: 14px;
        font-variant-ligatures: contextual;
    }
}

.cm-scroller {
    @mixin scrollbar row;
}

.cm-focused {
    outline: none !important;
}

.cm-gutters {
    background: palette(background, 0.5) !important;
    transition: background 0.4s ease-in-out;
    backdrop-filter: blur(5px);
}

.cm-activeLineGutter {
    background: palette(background, 0.5) !important;
    transition: background 0.4s ease-in-out;
}

.cm-content {
    min-width: 0rem !important;
}

.two-side .milkdown {
    max-width: unset !important;
}
