.milkdown {
  milkdown-code-block {
    padding: 24px 40px;
    background: var(--crepe-color-surface);
    margin: 20px 0;

    &.selected {
      outline: 1px solid var(--crepe-color-primary);
    }

    .cm-editor {
      outline: none !important;
      background: var(--crepe-color-surface);
    }

    .cm-gutters {
      border-right: none;
      background: var(--crepe-color-surface);
    }

    .language-button {
      font-family: var(--crepe-font-default);
      gap: 6px;
      padding: 6px 8px 6px 18px;
      background: var(--crepe-color-surface-low);
      color: var(--crepe-color-on-surface-variant);
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 24px;
      opacity: 0;
      cursor: pointer;
      transition: opacity 0.2s ease-in-out;
    }

    &:hover .language-button {
      opacity: 1;
    }

    .language-button:hover {
      background: var(--crepe-color-hover);
    }

    .language-button .expand-icon {
      transition: transform 0.2s ease-in-out;
      width: 18px;
      height: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .language-button .expand-icon svg {
      width: 14px;
      height: 14px;
    }

    .language-button[data-expanded="true"] .expand-icon {
      transform: rotate(180deg);
    }

    .language-button .expand-icon svg:focus,
    .language-button .expand-icon:focus-visible {
      outline: none;
    }

    .language-picker {
      padding-top: 16px;
    }

    .list-wrapper {
      background: var(--crepe-color-surface-low);
      border-radius: 12px;
      box-shadow: var(--crepe-shadow-1);
      width: 244px;
    }

    .language-list {
      height: 410px;
      overflow-y: auto;
      margin: 0;
      padding: 0;
    }

    .language-list-item {
      cursor: pointer;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 12px 20px 12px 10px;
      font-size: 14px;
      font-weight: 600;
      line-height: 20px;
    }

    .language-list-item:hover {
      background: var(--crepe-color-hover);
    }

    .language-list-item:focus-visible {
      outline: none;
      background: var(--crepe-color-hover);
    }

    .language-list-item .leading,
    .language-list-item .leading svg {
      width: 24px;
      height: 24px;
    }

    .list-wrapper {
      padding-top: 20px;
    }

    .search-box {
      margin: 0 16px 12px;
      background: transparent;
      border-radius: 4px;
      outline: 1px solid var(--crepe-color-primary);
      gap: 8px;
      padding: 12px 20px 12px 10px;
    }

    .search-box .search-input {
      width: 100%;
    }

    .search-box .search-icon {
      display: none;
    }

    .search-box .clear-icon {
      width: 24px;
      height: 24px;
      svg {
        width: 24px;
        height: 24px;
        color: var(--crepe-color-primary);
      }
      &:hover {
        background: var(--crepe-color-hover);
      }
    }

    .search-box input {
      font-family: var(--crepe-font-default);
      font-size: 16px;
      line-height: 24px;
      background: transparent;
    }

    .search-box input:focus {
      outline: none;
    }
  }
}
