@import "@milkdown/prose/gapcursor/style/gapcurosr.css";

.milkdown {
  .crepe-drop-cursor {
    background-color: var(--crepe-color-outline);
    opacity: 0.5;
    transition: all 0.2s;
  }

  .ProseMirror-gapcursor:after {
    box-sizing: border-box;
    border-top: 1px solid var(--crepe-color-on-background);
    top: -40px;
  }
}
