milkdown-inline-image.selected > .inline-image {
  outline: 2px solid fuchsia;
}

milkdown-inline-image.selected > .empty-inline-image {
  outline: 2px solid fuchsia;
}

milkdown-inline-image > .empty-inline-image {
  align-items: center;
  padding: 4px 8px;
  gap: 16px;
  background: oldlace;
}

milkdown-inline-image > .empty-inline-image .image-icon {
  color: darkgray;
}

milkdown-inline-image > .empty-inline-image .image-icon svg {
  width: 24px;
  height: 24px;
}

milkdown-inline-image > .empty-inline-image .link-importer .placeholder {
  color: darkgray;
}

milkdown-inline-image > .empty-inline-image .link-importer .link-input-area {
  line-height: 24px;
}

milkdown-inline-image > .empty-inline-image .link-importer .placeholder .uploader {
  gap: 8px;
  color: fuchsia;
  justify-content: center;
  transition: color 0.2s;
}

milkdown-inline-image > .empty-inline-image .link-importer.focus .placeholder .uploader {
  color: unset;
}

milkdown-inline-image > .empty-inline-image .link-importer .placeholder .uploader:hover {
  color: fuchsia;
}

milkdown-inline-image > .empty-inline-image .link-importer .placeholder .text {
  margin-left: 8px;
}

milkdown-inline-image > .empty-inline-image .confirm {
  background: darkgray;
  color: antiquewhite;
  line-height: 28px;
  padding: 0 12px;
  border-radius: 8px;
  font-size: 12px;
}
