@import 'prosemirror-view/style/prosemirror.css';
@import './nord.css';
@import './prism.css';

:root {
    --font: Roboto, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande,
        sans-serif;
    --font-code: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;

    --math_font-code: var(--font-code);
    --math_color: var(--nord9);
    --math_bg-color: var(--nord5);
    --math_out-line: var(--nord8);

    --table_scrollbar-bg-color: var(--nord5);
    --table_scrollbar-color: var(--nord10);
    --table_scrollbar-color-hover: var(--nord8);
    --table_line-color: var(--nord4);
    --table_header-bg-color: var(--nord6);
    --table_selected-cell-bg-color: var(--nord8);
    --table_selector-color: var(--nord10);
    --table_selector-color-hover: var(--nord8);
    --table_env-bg-color: #fff;
}

.milkdown {
    position: relative;
    font-family: var(--font);
    margin-left: auto;
    margin-right: auto;
    padding: 3.125rem 1.25rem;
    background-color: #fff;
    color: var(--nord1);
    box-shadow: var(--nord4) 0px 4px 6px, var(--nord4) 0px 5px 7px;

    @media only screen and (min-width: 42rem) {
        max-width: 42rem;
        padding: 3.125rem 7.25rem;
    }

    .editor * {
        margin: 1.875rem 0;
    }

    .paragraph {
        font-size: 0.875rem;
        line-height: 1.25rem;
    }

    .heading {
        margin: 2.5rem 0;
        font-weight: 400;
    }

    .h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .h2 {
        font-size: 2.125rem;
        line-height: 2.25rem;
    }

    .h3 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    .editor {
        outline: none;
    }

    .blockquote {
        padding-left: 1.875rem;
        line-height: 1.75rem;
        border-left: 4px solid;
        border-left-color: var(--nord10);
        * {
            font-size: 1rem;
            line-height: 1.5rem;
        }
    }

    .list-item {
        &,
        * {
            margin: 0;
        }
    }

    .hr {
        height: 1px;
        background-color: var(--nord6);
        border-width: 0;
    }

    .link {
        color: var(--nord9) !important;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        font-weight: 500;
        outline: 0.2rem solid transparent;
        &:hover {
            background-color: var(--nord4);
            outline: 0.2rem solid var(--nord4);
        }
    }

    .code-inline {
        background-color: var(--nord0);
        color: var(--nord6);
        border-radius: 4px;
        font-weight: 500;
        font-family: var(--font-code);
        padding: 0.2rem;
    }

    .image {
        display: block;
        margin: 0 auto;
        object-fit: contain;
    }

    .code-fence {
        background-color: var(--nord1);
        color: var(--nord5);
        font-size: 0.85rem;
        padding: 0 0.4rem 0.4rem;
        border-radius: 4px;
        overflow: hidden;

        > div:first-child {
            width: 100%;
            min-width: 15ch;
            max-width: 30ch;
            border-radius: 4px;
            cursor: pointer;
            line-height: 1.5;
            margin: 0.4rem 0;
            display: grid;
            grid-template-areas: 'select';
            align-items: center;

            &::after {
                content: '';
                width: 0.8rem;
                height: 0.5rem;
                margin-right: 0.5rem;
                clip-path: polygon(100% 0%, 0 0%, 50% 100%);
                grid-area: select;
                justify-self: end;
                background-color: var(--nord4);
            }

            select {
                grid-area: select;
                font-size: 0.85rem;
                padding: 0 0.4rem;
                color: var(--nord4);
                outline: none;
                appearance: none;
                width: 100%;
                height: 100%;
                height: 26px;
                line-height: 26px;
                background-color: var(--nord2);
                border: 0;
                font-family: var(--font-code);
                margin: 0;
            }
        }

        pre {
            margin: 0 1.2rem;
        }

        code {
            font-family: var(--font-code);
            line-height: 1.5;
        }
    }

    .strong {
        font-weight: 600;
    }

    .tooltip {
        display: flex;
        cursor: pointer;
        justify-content: space-evenly;
        position: absolute;
        transform: translateX(-50%);
        margin-bottom: 8px;
        background: var(--nord0);
        border-radius: 4px;
        color: var(--nord5);
        padding: 4px 8px;
        &:before {
            content: '';
            position: absolute;
            height: 0;
            width: 0;
            left: 50%;
            margin-left: -6px;
            bottom: -6px;
            border: 6px solid transparent;
            border-bottom-width: 0;
            border-top-color: var(--nord0);
        }
        .icon {
            width: 1.8rem;
            text-align: center;
            background: var(--nord0);
            transition: all 0.2s ease-in;
            &.active {
                color: var(--nord0);
                background: var(--nord4);
            }
            &:hover {
                color: var(--nord5);
                background: var(--nord10);
            }
        }
        .group {
            display: inline-flex;
            justify-content: center;
            outline: none;
            background: var(--nord6);
            .input {
                font-family: var(--font);
                text-align: left;
                background: var(--nord6);
                width: 12rem;
                padding: 0 4px;
                border: 0;
                &:hover {
                    color: var(--nord0);
                }
                &:focus {
                    outline: none;
                }
            }
            .material-icons {
                color: var(--nord10);
                background: var(--nord6);
                &:hover {
                    color: var(--nord14);
                }
            }
        }
        .hide {
            display: none;
        }
        &.hide {
            display: none;
        }
    }
}
