@import 'prosemirror-view/style/prosemirror.css';
@import './nord.css';
@import './prism.css';
@import './marks.css';
@import './nodes.css';
@import './code.css';

:root {
    --font: Roboto, HelveticaNeue-Light, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande,
        sans-serif;
    --font-code: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;

    --neutral: var(--nord0-rgb);
    --solid: var(--nord3-rgb);
    --primary: var(--nord10-rgb);
    --secondary: var(--nord9-rgb);
    --line: var(--nord4-rgb);
    --background: var(--nord6-rgb);
    --surface: 255, 255, 255;

    --text: var(--nord0);
    --text-lighter: var(--nord1);

    --math_font-code: var(--font-code);
    --math_color: var(--nord9);
    --math_bg-color: var(--nord5);
    --math_out-line: var(--nord8);

    --table_scrollbar-bg-color: var(--nord5);
    --table_scrollbar-color: var(--nord10);
    --table_scrollbar-color-hover: var(--nord8);
    --table_line-color: var(--nord4);
    --table_header-bg-color: var(--nord6);
    --table_selected-cell-bg-color: var(--nord8);
    --table_selector-color: var(--nord9);
    --table_selector-color-hover: var(--nord8);
    --table_env-bg-color: var(--bg);
    --table_tooltip-color: var(--nord5);
    --table_tooltip-bg-color: var(--nord0);
    --table_tooltip-color-hover: var(--nord5);
    --table_tooltip-bg-color-hover: var(--nord10);

    --tooltip_color: var(--nord5);
    --tooltip_bg-color: var(--nord0);
    --tooltip_color-hover: var(--nord5);
    --tooltip_bg-color-hover: var(--nord10);
    --tooltip_color-active: var(--nord0);
    --tooltip_bg-color-active: var(--nord4);
    --tooltip_group-bg-color: var(--nord6);
    --tooltip_input-font: var(--font);
    --tooltip_input-bg-color: var(--nord6);
    --tooltip_input-color-hover: var(--nord0);
    --tooltip_group-icon-color: var(--nord10);
    --tooltip_group-icon-bg-color: var(--nord6);
    --tooltip_group-icon-color-hover: var(--nord14);

    --slash_border-color: var(--nord4);
    --slash_bg-color: var(--nord6);
    --slash_bg-color-active: var(--nord8);
    --slash_placeholder-color: var(--nord9);
    --slash_scrollbar-color: var(--nord10);
}

.milkdown {
    color: palette(neutral, 0.87);
    background: palette(surface);

    position: relative;
    font-family: var(--font);
    margin-left: auto;
    margin-right: auto;
    padding: 3.125rem 1.25rem;
    box-shadow: var(--nord4) 0px 4px 6px, var(--nord4) 0px 5px 7px;

    @media only screen and (min-width: 42rem) {
        max-width: 42rem;
        padding: 3.125rem 7.25rem;
    }

    .editor {
        outline: none;
        & * {
            margin: 1.875rem 0;
        }
    }

    @mixin marks;
    @mixin blocks;
    @mixin lines;
    @mixin code;
}
