@import 'tailwindcss';

@source "../node_modules/@milkdown/theme-nord";

.milkdown-storybook {
  .prose :where(li):not(:where([class~='not-prose'] *)) {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  .prose :where(blockquote):not(:where([class~='not-prose'] *)) {
    font-style: inherit;
    font-weight: inherit;
  }

  .prose
    :where(ul ul, ul ol, ol ul, ol ol):not(:where([class~='not-prose'] *)) {
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  .prose ol,
  .prose ul {
    list-style: none !important;
    padding: 0;
  }

  .prose li p {
    @apply !m-0 !leading-6;
  }

  .prose li p + p {
    @apply !mt-2;
  }

  .prose li.ProseMirror-selectednode {
    outline: 2px solid #8cf;
  }

  .prose li::after {
    all: unset !important;
  }

  milkdown-list-item-block {
    & > .list-item {
      gap: 8px;
      display: flex;
      align-items: flex-start;
    }

    & > .list-item > .children {
      min-width: 0;
      flex: 1;
    }
  }

  milkdown-list-item-block .label-wrapper {
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: darkcyan;
  }
}
