.switch-root {
  width: 42px;
  height: 25px;
  @apply bg-nord7;
}

.switch-root[data-state='checked'] {
  @apply bg-nord10;
}

.switch-thumb {
  width: 21px;
  height: 21px;
  transition: transform 100ms;
  transform: translateX(2px);
  will-change: transform;
}

.switch-thumb[data-state='checked'] {
  transform: translateX(19px);
}
