.milkdown {
    font-size: var(--textSize);
    font-family: var(--font);
    background-color: var(--bg);
    color: var(--textColor);
}

.milkdown .blockquote {
    font-size: var(--quote-textSize, var(--textSize));
    font-family: var(--quote-font, var(--font));
    background-color: var(--quote-bg, var(--bg));
    color: var(--quote-textColor, var(--textColor));
}

.milkdown .code-fence {
    font-size: var(--codeFence-textSize, var(--textSize));
    font-family: var(--codeFence-font, var(--font));
    background-color: var(--codeFence-bg, var(--bg));
    color: var(--codeFence-textColor, var(--textColor));
}

.milkdown .list-item {
    font-size: var(--li-textSize, var(--textSize));
    font-family: var(--li-font, var(--font));
    background-color: var(--li-bg, var(--bg));
    color: var(--li-textColor, var(--textColor));
}

.milkdown .ordered-list {
    font-size: var(--ol-textSize, var(--list-textSize, var(--textSize)));
    font-family: var(--ol-font, var(--list-font, var(--font)));
    background-color: var(--ol-bg, var(--list-bg, var(--bg)));
    color: var(--ol-textColor, var(--list-textColor, var(--textColor)));
}

.milkdown .bullet-list {
    font-size: var(--ul-textSize, var(--list-textSize, var(--textSize)));
    font-family: var(--ul-font, var(--list-font, var(--font)));
    background-color: var(--ul-bg, var(--list-bg, var(--bg)));
    color: var(--ul-textColor, var(--list-textColor, var(--textColor)));
}

.milkdown .heading {
    font-size: var(--heading-textSize, var(--textSize));
    font-family: var(--heading-font, var(--font));
    background-color: var(--heading-bg, var(--bg));
    color: var(--heading-textColor, var(--textColor));
}

.milkdown .h1 {
    font-size: var(--h1-textSize, var(--textSize));
    font-family: var(--h1-font, var(--font));
    background-color: var(--h1-bg, var(--bg));
    color: var(--h1-textColor, var(--textColor));
}

.milkdown .h2 {
    font-size: var(--h2-textSize, var(--textSize));
    font-family: var(--h2-font, var(--font));
    background-color: var(--h2-bg, var(--bg));
    color: var(--h2-textColor, var(--textColor));
}

.milkdown .h3 {
    font-size: var(--h3-textSize, var(--textSize));
    font-family: var(--h3-font, var(--font));
    background-color: var(--h3-bg, var(--bg));
    color: var(--h3-textColor, var(--textColor));
}

.milkdown .h4 {
    font-size: var(--h4-textSize, var(--textSize));
    font-family: var(--h4-font, var(--font));
    background-color: var(--h4-bg, var(--bg));
    color: var(--h4-textColor, var(--textColor));
}

.milkdown .h5 {
    font-size: var(--h5-textSize, var(--textSize));
    font-family: var(--h5-font, var(--font));
    background-color: var(--h5-bg, var(--bg));
    color: var(--h5-textColor, var(--textColor));
}

.milkdown .link {
    font-size: var(--link-textSize, var(--textSize));
    font-family: var(--link-font, var(--font));
    background-color: var(--link-bg, var(--bg));
    color: var(--link-textColor, var(--textColor));
}

.milkdown .strong {
    font-size: var(--strong-textSize, var(--textSize));
    font-family: var(--strong-font, var(--font));
    background-color: var(--strong-bg, var(--bg));
    color: var(--strong-color, var(--textColor));
}

.milkdown .code-inline {
    font-size: var(--codeInline-textSize, var(--textSize));
    font-family: var(--codeInline-font, var(--font));
    background-color: var(--codeInline-bg, var(--bg));
    color: var(--codeInline-color, var(--textColor));
}

.milkdown .em {
    font-size: var(--em-textSize, var(--textSize));
    font-family: var(--em-font, var(--font));
    background-color: var(--em-bg, var(--bg));
    color: var(--em-color, var(--textColor));
}
