.accordion-item[data-state='open'] {
  height: calc(100% - 5rem);
  overflow: hidden;
}

.accordion-content[data-state='open'] {
  @apply border-b dark:border-gray-600;

  height: calc(100% - 2.5rem);
  --radix-collapsible-content-height: calc(100% - 10rem);
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);

  overflow: auto;
  overscroll-behavior: none;
}

.accordion-content[data-state='closed'] {
  height: 0;
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion-trigger[data-state="closed"] .material-symbols-outlined {
  transform: rotate(180deg);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
