.slash-dropdown {
    width: 20.5rem;
    max-height: 20.5rem;
    overflow-y: auto;
    border: 1px solid palette(line);
    border-radius: var(--radius);
    position: absolute;
    background: palette(surface);
    box-shadow: 0px 1px 1px palette(shadow, 0.14), 0px 2px 1px palette(shadow, 0.12), 0px 1px 3px palette(shadow, 0.2);
    &.hide {
        display: none;
    }

    @mixin scrollbar;
}

.slash-dropdown-item {
    display: flex;
    gap: 2rem;
    height: 3rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    line-height: 2;
    font-family: var(--font);
    font-size: 0.875rem;

    transition: all 0.2s ease-in-out;

    &,
    .icon {
        color: palette(neutral, 0.87);
    }

    &.hide {
        display: none;
    }

    &.active {
        background: palette(secondary, 0.12);
        &,
        .icon {
            color: palette(primary);
        }
    }
}

.empty-node {
    position: relative;
    &::before {
        position: absolute;
        cursor: text;
        font-family: var(--font);
        font-size: 0.875rem;
        color: palette(neutral, 0.6);
        content: attr(data-text);
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.is-slash::before {
    left: 0.5rem;
}
