.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: palette(background);
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

.main {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    gap: 2.625rem;
    width: 100%;
    justify-content: center;
}

.content {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.container {
    box-sizing: content-box;
    padding: 0 5.25rem;
    max-width: 72rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.title {
    font-size: 3rem;
    margin: 0;
    margin-top: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: palette(neutral);
}

.desc {
    line-height: 1.2;
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1.875rem;
    color: palette(neutral, 0.87);
}

.logo {
    flex: 1;
    img {
        width: 100%;
    }
}

.buttons {
    margin-top: 3.125rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    a {
        display: inline-block;
        box-sizing: border-box;
        line-height: 2.25rem;
        width: 6.125rem;
        text-align: center;
        font-size: 0.875rem;
        font-weight: 500;
        color: palette(solid, 0.87);
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        text-decoration: none;
        &:last-child {
            border: 2px solid palette(secondary);
            &:hover {
                border-color: palette(primary);
            }
        }

        &:first-child {
            border: 2px solid transparent;
            background: palette(secondary, 0.12);
            color: palette(primary);
            &:hover {
                background: palette(secondary, 0.38);
            }
        }
    }
}

.curve {
    overflow: hidden;
    width: 100%;
    background: palette(surface);
    transition: all 0.4s ease-in-out;
    margin-top: 4.125rem;
    position: relative;
    flex-shrink: 0;

    svg {
        width: 100%;
        height: auto;
    }

    path {
        stroke: none;
        fill: palette(background);
        transition: all 0.4s ease-in-out;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        background: palette(background);
        transition: background 0.4s ease-in-out;
    }
}

@mixin query 72rem {
    .container {
        flex-direction: row;
        gap: 4rem;
    }

    .content {
        text-align: left;
        > * {
            width: 100%;
        }
    }

    .buttons {
        justify-content: flex-start;
    }
}
