.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: palette(background);
    z-index: 1;
}

.main {
    height: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column-reverse;
    gap: 2.625rem;
}

.content {
    text-align: center;
}

.title {
    font-size: 3rem;
    margin: 0;
    margin-top: 2rem;
    font-weight: 400;
    line-height: 1.5;
    color: palette(neutral);
}

.desc {
    line-height: 1.2;
    font-size: 1.5rem;
    margin: 0;
    margin-top: 1.875rem;
    color: palette(neutral, 0.87);
}

.logo {
    img {
        width: 29.375rem;
        max-width: 100%;
    }
}

.buttons {
    margin-top: 3.125rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
    a {
        display: inline-block;
        box-sizing: border-box;
        line-height: 2.25rem;
        width: 6.125rem;
        text-align: center;
        font-size: 0.875rem;
        font-weight: 500;
        color: palette(solid, 0.87);
        cursor: pointer;
        transition: all 0.2s ease-in;
        text-decoration: none;
        &:last-child {
            border: 2px solid palette(secondary);
            &:hover {
                border-color: palette(primary);
            }
        }

        &:first-child {
            border: 2px solid transparent;
            background: palette(secondary, 0.12);
            color: palette(primary);
            &:hover {
                background: palette(secondary, 0.38);
            }
        }
    }
}

.curve {
    height: 10rem;
    overflow: hidden;
    width: 100%;
    background: palette(surface);
    margin-top: 4.125rem;
    position: relative;

    svg {
        width: 100%;
        height: auto;
    }

    path {
        stroke: none;
        fill: palette(background);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 4px;
        background: palette(background);
    }
}

@media only screen and (min-width: 67.5rem) {
    .main {
        flex-direction: row;
    }

    .content {
        text-align: left;
    }

    .buttons {
        justify-content: flex-start;
    }
}
