.container {
    width: 100%;
    transition: all 0.4s ease-in-out;
    right: 0;
    box-shadow: 0px 4px 5px palette(shadow, 0.14), 0px 1px 10px palette(shadow, 0.12), 0px 2px 4px palette(shadow, 0.2);
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 2;
    background: palette(background);
    @mixin query 72rem {
        &.fold {
            width: calc(100% - 16rem);
        }
    }
}

.header {
    a {
        color: unset;
        text-decoration: unset;
    }
    flex: 1;

    transition: all 0.4s ease-in-out;
    color: palette(neutral, 0.87);
    box-sizing: content-box;
    display: flex;
    height: 4.5rem;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    position: relative;
    margin: 0 auto;
    max-width: 72rem;
    padding: 0 1.25rem;
}

.homepage {
    box-shadow: none;
}

.part {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    .icon {
        width: 2rem;
        line-height: 2rem;
        height: 2rem;
        text-align: center;
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        &:hover {
            background: palette(secondary, 0.12);
        }
    }
}

.logo {
    padding: 0 0.4rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    img,
    span {
        line-height: 3rem;
    }

    img {
        height: 1.6rem;
        width: auto;
    }

    span {
        font-size: 1.5rem;
        color: palette(neutral, 0.87);
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.github {
    svg {
        fill: palette(neutral, 0.87);
    }
}

.logo > span {
    display: none;
}

.mode {
    display: none;
}

@mixin query 72rem {
    .logo > span {
        display: flex;
    }
    .header {
        padding: 0 5.25rem;
    }
    .mode {
        display: flex;
    }
}

.translate {
    position: relative;
}

.langList {
    position: absolute;
    top: 2rem;
    left: 0;
    padding: 0;
    margin: 0;
    margin-top: 1rem;
    background: palette(surface);
    width: 8rem;
    box-shadow: 0px 1px 1px palette(shadow, 0.14), 0px 2px 1px palette(shadow, 0.12), 0px 1px 3px palette(shadow, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
}

.langItem {
    font-weight: 500;
    line-height: 1.5;
    color: palette(--neutral, 0.87);
    font-size: 0.85rem;
    padding: 0.625rem 1rem;
    list-style: none;
    height: 100%;
    border: 0;
    margin: 0;
    background-color: transparent;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    &:hover {
        background: palette(primary, 0.12);
        color: palette(primary);
    }
}
