@define-mixin doc {
    color: palette(neutral, 0.87);
    background: palette(surface);

    position: relative;
    font-family: var(--font);
    margin-left: auto;
    margin-right: auto;
    padding: 3.125rem 1.25rem;
    box-shadow: 0px var(--line-width) var(--line-width) palette(shadow, 0.14),
        0px 2px var(--line-width) palette(shadow, 0.12), 0px var(--line-width) 3px palette(shadow, 0.2);
    box-sizing: border-box;

    @mixin query 72rem {
        max-width: 57.375rem;
        padding: 3.125rem 7.25rem;
    }

    .editor {
        outline: none;
        & > * {
            margin: 1.875rem 0;
        }
    }

    ::selection {
        background: palette(secondary, 0.38);
    }
}
