@define-mixin marks {
    .strong {
        font-weight: 600;
    }

    .link {
        color: palette(secondary);
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        font-weight: 500;
        &:hover {
            background-color: palette(line);
            box-shadow: 0 0.2rem palette(line), 0 -0.2rem palette(line);
        }
    }

    .em {
        font-style: italic;
    }
}
