.toast-root {
  @apply bg-white rounded-md shadow-lg p-4 flex items-center justify-between mt-4 mr-4 dark:bg-black dark:text-white;
}

.toast-viewport {
  @apply fixed top-0 right-0 flex flex-col p-4 gap-4 w-96 max-w-full m-0 list-none z-50;
}

.toast-title {
  @apply flex justify-center gap-2 items-center;
}

.toast-root[data-state='open'] {
  animation: slideIn 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.toast-root[data-state='closed'] {
  animation: hide 100ms ease-in;
}
.toast-root[data-swipe='move'] {
  transform: translateX(var(--radix-toast-swipe-move-x));
}
.toast-root[data-swipe='cancel'] {
  transform: translateX(0);
  transition: transform 200ms ease-out;
}
.toast-root[data-swipe='end'] {
  animation: swipeOut 100ms ease-out;
}

@keyframes slideIn {
  from {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
  to {
    transform: translateX(0);
  }
}

@keyframes swipeOut {
  from {
    transform: translateX(var(--radix-toast-swipe-end-x));
  }
  to {
    transform: translateX(calc(100% + var(--viewport-padding)));
  }
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
