.milkdown {
  --crepe-color-background: #FFFDFB;
  --crepe-color-on-background: #1F1B16;
  --crepe-color-surface: #FFF8F4;
  --crepe-color-surface-low: #FFF1E5;
  --crepe-color-on-surface: #201B13;
  --crepe-color-on-surface-variant: #4F4539;
  --crepe-color-outline: #817567;
  --crepe-color-primary: #805610;
  --crepe-color-secondary: #FBDEBC;
  --crepe-color-on-secondary: #271904;
  --crepe-color-inverse: #362F27;
  --crepe-color-on-inverse: #FCEFE2;
  --crepe-color-inline-code: #BA1A1A;
  --crepe-color-error: #BA1A1A;
  --crepe-color-hover: #F9ECDF;
  --crepe-color-selected: #EDE0D4;
  --crepe-color-inline-area: #E4D8CC;

  --crepe-font-title: Georgia, Cambria, "Times New Roman", Times, serif;
  --crepe-font-default: "Open Sans", Arial, Helvetica, sans-serif;
  --crepe-font-code: Fira Code, Menlo, Monaco, "Courier New", Courier, monospace;

  --crepe-shadow-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);
  --crepe-shadow-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.30);

  position: relative;

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button,
  input {
    border:none;
    background: none;
    box-shadow: none;
    &:focus {
      outline: none;
    }
  }

  :focus-visible {
    outline: none;
  }

  font-family: var(--crepe-font-default);
  color: var(--crepe-color-on-background);
  background: var(--crepe-color-background);

  .ProseMirror-focused {
    outline: none;
  }

  .ProseMirror {
    padding: 60px 120px;
    letter-spacing: 0.5px;

    & > * {
      margin: 20px 0 40px;
    }

    *::selection {
      background: var(--crepe-color-selected);
      //background: color-mix(in srgb, var(--crepe-color-selected), transparent 60%);
    }

    li.ProseMirror-selectednode {
      outline: 10px solid var(--crepe-color-selected);
      //outline: 10px solid color-mix(in srgb, var(--crepe-color-selected), transparent 60%);
      ::selection {
        background: transparent;
      }
      &::selection {
        background: transparent;
      }
    }
    li.ProseMirror-selectednode:after {
      all: unset;
    }

    .ProseMirror-selectednode {
      background: var(--crepe-color-selected);
      outline: 10px solid var(--crepe-color-selected);
      //background: color-mix(in srgb, var(--crepe-color-selected), transparent 60%);
      //outline: 10px solid color-mix(in srgb, var(--crepe-color-selected), transparent 60%);
      ::selection {
        background: transparent;
      }
      &::selection {
        background: transparent;
      }
    }

    img {
      vertical-align: bottom;
      max-width: 100%;

      &.ProseMirror-selectednode {
        background: none;
        outline: 2px solid var(--crepe-color-primary);
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: var(--crepe-font-title);
      font-weight: 400;
    }

    h1 {
      font-size: 42px;
      line-height: 50px;
    }

    h2 {
      font-size: 36px;
      line-height: 44px;
    }

    h3 {
      font-size: 32px;
      line-height: 40px;
    }

    h4 {
      font-size: 28px;
      line-height: 36px;
    }

    h5 {
      font-size: 24px;
      line-height: 32px;
    }

    h6 {
      font-size: 18px;
      font-weight: 700;
      line-height: 28px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }

    code {
      color: var(--crepe-color-inline-code);
      background: color-mix(in srgb, var(--crepe-color-inline-area), transparent 40%);
      padding: 0 10px;
      border-radius: 4px;
      display: inline-block;
      line-height: 24px;
    }

    a {
      color: var(--crepe-color-primary);
      text-decoration: underline;
    }

    pre {
      background: color-mix(in srgb, var(--crepe-color-inline-area), transparent 40%);
      padding: 10px;
      border-radius: 4px;
      code {
        padding: 0;
        background: transparent;
      }
    }

    blockquote {
      position: relative;
      padding-left: 40px;
      &::before {
        content: "";
        width: 4px;
        height: 100%;
        left: 0;
        position: absolute;
        background: var(--crepe-color-selected);
        border-radius: 100px;
      }

      hr {
        margin-bottom: 16px;
      }
    }

    hr {
      border: none;
      border-bottom: 1px solid color-mix(in srgb, var(--crepe-color-outline), transparent 20%);
      height: 16px;
      position: relative;

      &.ProseMirror-selectednode {
        outline: none;
        background: none;
        border-bottom: 1px solid var(--crepe-color-outline);
      }
    }

    .ProseMirror-gapcursor:after {
      box-sizing: border-box;
      border-top: 1px solid var(--crepe-color-on-background);
      top: -40px;
    }
  }
}
