.sidebar {
    width: 16rem;
    background: palette(background);
    z-index: 1;
    position: fixed;
    top: 4.5rem;
    bottom: 0;
    border-right: 1px solid palette(line);
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
    &.fold {
        width: 0;
        transform: translateX(-16rem);
    }
}

@media only screen and (min-width: 67.5rem) {
    .sidebar {
        z-index: 3;
        position: relative;
        height: unset;
        top: 0;
    }
}

.hr {
    height: 1px;
    border-width: 0;
    background: palette(line);
    margin: 0;
}

.sectionTitle {
    padding: 0 1.5rem;
    color: palette(neutral);
    margin-top: 2.5rem;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
}

.link {
    padding: 0.75rem 1.5rem;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.5;
    color: palette(neutral, 0.6);
    text-decoration: none;
    /* margin: 1.5rem 0; */
    &:hover {
        color: palette(neutral, 0.87);
    }
}

.active {
    color: palette(primary);
    background: palette(line);
}
