.sidebar {
    box-sizing: border-box;
    width: 16rem;
    background: palette(background);
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    border-right: 1px solid palette(line);
    transform: translateX(0);
    transition: all 0.4s ease-in-out;
    padding-bottom: 2.5rem;
    &.fold {
        width: 0;
        transform: translateX(-16rem);
    }
    overflow: auto;

    @mixin scrollbar;
    @mixin query 72rem {
        z-index: 3;
        height: 100vh;
    }

    flex-shrink: 0;
}

.hr {
    height: 1px;
    border-width: 0;
    background: palette(line);
    margin: 0;
}

.sectionTitle {
    padding: 0 1.5rem;
    color: palette(neutral);
    margin-top: 2.5rem;
    margin-bottom: 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
}

.link {
    padding: 0.75rem 1.5rem;
    display: flex;
    font-size: 0.875rem;
    line-height: 1.5;
    color: palette(neutral, 0.6);
    text-decoration: none;
    &:hover {
        color: palette(neutral, 0.87);
    }
}

.active {
    color: palette(primary);
}
