body {
    margin: 0;
}

.my-quote {
    border-left: 4px solid #000;
    padding-left: 20px;
}

.heading1 {
    font-size: 48px;
}

.heading2 {
    font-size: 36px;
}

.heading3 {
    font-size: 24px;
}
