.footer {
    transition: all 0.4s ease-in-out;
    flex-shrink: 0;
    font-size: 0.875rem;
    color: palette(neutral, 0.6);
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    clear: both;
}
.homepage {
    background: palette(surface);
}
