body {
    margin: 0;
    background: palette(background);
}

#app {
    margin: 0;
}

.milkdown {
    min-height: 100vh;
    border-radius: 4px;
    overflow: hidden;
}

@media only screen and (min-width: 42rem) {
    #app {
        margin: 20px 0;
    }

    .milkdown {
        min-height: auto;
    }
}
