html {
    width: 100%;
    height: 100%;

    @mixin scrollbar;
}

body {
    margin: 0;
    background: palette(background);
    font-family: var(--font);
    transition: all 0.2s ease-in;
}

.milkdown {
    overflow: hidden;
    @mixin query 72rem {
        min-height: auto;
        border-radius: var(--radius);
        max-width: 72rem;
    }
}
