body {
    margin: 0;
    background: palette(background);
    font-family: var(--font);
    transition: all 0.2s ease-in;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.milkdown {
    min-height: 100vh;
    overflow: hidden;
}

@media only screen and (min-width: 42rem) {
    .milkdown {
        min-height: auto;
        border-radius: 4px;
    }
}
