img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
    vertical-align: -0.1em;
}

.emoji-picker {
    --dark-search-background-color: palette(surface) !important;
    --dark-text-color: palette(neutral, 0.87) !important;
    --dark-background-color: palette(background) !important;
    --dark-border-color: palette(shadow) !important;
    --dark-hover-color: palette(secondary, 0.12) !important;
    --dark-blue-color: palette(primary) !important;
    --dark-search-icon-color: palette(primary) !important;
    --dark-category-button-color: palette(secondary, 0.4) !important;
    --font: var(--font-code) !important;
    --font-size: 1rem !important;
}
