@import '@benrbray/prosemirror-math/style/math.css';
@import 'katex/dist/katex.min.css';

.math-node {
    &,
    * {
        margin: 0 !important;
        padding: 0;
    }
}

.math-render {
    padding: 0 4px;
}

.math-src > div {
    padding: 4px;
    outline: none !important;
    border-radius: 4px;
    font-weight: 500;
    font-family: var(--font-code);
    box-sizing: border-box;
    color: palette(secondary);
}

.math-src,
math-display.ProseMirror-selectednode {
    color: palette(secondary);
    background-color: palette(background);
}

.ProseMirror-selectednode {
    outline: 2px solid palette(line);
    &.math-node {
        outline: none;
    }
}
