@import 'prosemirror-tables/style/tables.css';

.tableWrapper {
    margin: 0 !important;
    width: 100%;
    @mixin scrollbar row;
}

@define-mixin operator-after {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    transition: all 0.2s ease-in;
}

.milkdown {
    table {
        width: calc(100% - 2rem) !important;
        border-radius: var(--radius);
        box-sizing: border-box;
        margin-left: 1rem !important;
        margin-right: 0 !important;
        margin-top: 1rem !important;
        margin-bottom: 1rem !important;
        overflow: auto !important;
        * {
            margin: 0 !important;
            box-sizing: border-box;
            font-size: 1rem;
        }
        tr {
            border-bottom: 1px solid palette(line);
        }

        th {
            background: palette(background, 0.5);
            font-weight: 400;
        }

        th,
        td {
            min-width: 100px;
            border: 1px solid palette(line);
            text-align: left;
            position: relative;
            line-height: 3rem;
            box-sizing: border-box;
            height: 3rem;
        }

        .selectedCell {
            &::after {
                background: palette(secondary, 0.38);
            }
            ::selection {
                background: transparent;
            }
        }
        .column-resize-handle {
            background: palette(primary);
            width: 1px;
        }

        th,
        td {
            padding: 0 1rem;
            p {
                line-height: unset !important;
            }
        }

        .milkdown-cell-left,
        .milkdown-cell-right,
        .milkdown-cell-top {
            position: absolute;
        }

        .milkdown-cell-left {
            position: absolute;
            left: calc(-6px - 0.5rem);
            top: 0;
            bottom: 0;
            width: 0.5rem;

            &::after {
                @mixin operator-after;
                background: palette(secondary, 0.12);
                content: '';
            }
            &:hover::after {
                background: palette(secondary, 0.38);
            }
        }

        .milkdown-cell-top {
            position: absolute;
            left: 0;
            right: 0;
            top: calc(-6px - 0.5rem);
            height: 0.5rem;

            &::after {
                @mixin operator-after;
                background: palette(secondary, 0.12);
                content: '';
            }
            &:hover::after {
                background: palette(secondary, 0.38);
            }
        }

        .milkdown-cell-point {
            position: absolute;
            left: calc(-2px - 1rem);
            top: calc(-2px - 1rem);
            width: 1rem;
            height: 1rem;

            &::after {
                @mixin operator-after;
                @mixin icon Outlined;
                content: 'select_all';
                color: palette(solid, 0.87);
                font-size: inherit;
            }
            &:hover::after {
                color: palette(primary);
            }
        }
    }

    .table-tooltip {
        display: inline-flex;
        cursor: pointer;
        justify-content: space-evenly;
        position: absolute;
        border-radius: var(--radius);

        border: 1px solid palette(line);
        box-shadow: 0px 1px 1px palette(shadow, 0.14), 0px 2px 1px palette(shadow, 0.12),
            0px 1px 3px palette(shadow, 0.2);

        overflow: hidden;
        background: palette(surface);

        .icon {
            position: relative;
            color: palette(solid, 0.87);

            width: 3rem;
            line-height: 3rem;
            text-align: center;
            transition: all 0.2s ease-in;
            &:hover {
                background-color: palette(secondary, 0.12);
            }
            &.active {
                color: palette(primary);
            }
            &:not(:last-child)::after {
                content: '';
                position: absolute;
                right: 0px;
                top: 0;
                width: 1px;
                bottom: 0;
                background: palette(line);
            }
        }
        &.hide,
        .hide {
            display: none;
        }
    }
}
