body {
    margin: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 4px;
    box-sizing: border-box;
}

table * {
    margin: 0 !important;
    box-sizing: border-box;
}

table tr {
    border-bottom: 1px solid #c5ccd3;
}

table th,
table td {
    min-width: 100px;
    padding: 4px 8px;
    border: 1px solid #c5ccd3;
    text-align: left;
}
