name: On Pull Request

on:
    workflow_dispatch:
    pull_request:
        branches: 'main'

env:
    CI: true
    NX_CLOUD_DISTRIBUTED_EXECUTION: true
jobs:
    start:
        uses: ./.github/workflows/start-nx-cloud.yml

    agent:
        uses: ./.github/workflows/start-agents.yml

    test:
        needs: start
        uses: ./.github/workflows/test.yml
        secrets:
            CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
            CHANGESET_TOKEN: ${{ secrets.CHANGESET_TOKEN }}

    stop:
        if: ${{ always() }}
        needs: test
        uses: ./.github/workflows/stop-nx-cloud.yml

    report:
        if: ${{ always() }}
        needs: [stop, test, start]
        runs-on: ubuntu-latest
        steps:
            - name: on error
              if: ${{ needs.start.result != 'success' || needs.test.result != 'success' }}
              run: exit 1
