# https://autofix.ci/setup

name: autofix.ci

on:
  pull_request:

permissions:
  contents: read

env:
  CI: true

jobs:
  fix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: ./.github/actions/setup

      - name: Fix
        run: pnpm codegen && pnpm fix

      - uses: autofix-ci/action@551dded8c6cc8a1054039c8bc0b8b48c51dfc6ef
